@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}

/* .my-navbar {
  background-color: #3b5d50 !important;
} */

.my-cursor-pointer {
  cursor: pointer !important;
}

.my-bg-green-1 {
  background-color: #3b5d50 !important;
}
.my-bg-green-2 {
  background-color: #496e67 !important;
}
.my-bg-green-3 {
  background-color: #eff2f1 !important ;
}

.my-text-white-60 {
  color: rgba(255, 255, 255, 0.6) !important;
}

.my-vertical-align-center {
  vertical-align: middle;
}

.my-fw-500 {
  font-weight: 500;
}
